@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto Mono', monospace;    
    /* caracteristicas usadas en css global para que el tamaño de las cajas se modifique hacia adentro y NO hacia afuera (esto agrandaría el tamaño de los mismos)  */
}

.cuerpo{
    position: relative;
    width: 100%;
    height: 700px;
}


body {

    background-image: url("https://images.freeimages.com/images/large-previews/743/spring-crop-fields-1178109.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

.eslogan-titulo{
    
    padding: 70px;
    font-size: 60px;
    color: aliceblue
    
}

.eslogan-body{
    
    padding: 30px;
    margin-left: 45px;
    font-size: 25px;
    color: aliceblue;
}

.cuerpo-2{
    position: relative;
    background-color: aliceblue;
    width: 80%;
    margin: 5% 10%;
    filter:alpha(opacity=85);
    -moz-opacity:.85;opacity:.85;
    
}

.tituloCuerpo2{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.barraDeBusqueda{
    display: block;
    text-align: center;
}

.barraDeBusqueda #buscar{
    width: 400px;
    margin-bottom: 2rem;
}

.nav-menu{
    display: flex;
    position: relative;
    margin: 1rem 1rem;
    text-align: right;
}

.nav-menu p{
    margin: 0 50px;
}


.diccionario{
    margin: 5% 5%;
    display: flex;
    position: relative;
    text-align: center;
    
}

.diccionario .objeto-dic-img{
   width: 100px;
}

.diccionario object{
    
    margin: 0 2rem;
}

.diccionario-ul li{
    text-decoration: none;
    display: inherit;
    margin: 1rem;
}