@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Roboto Mono', monospace;  
    /* caracteristicas usadas en css global para que el tamaño de las cajas se modifique hacia adentro y NO hacia afuera (esto agrandaría el tamaño de los mismos)  */
}


header {
    background-color: rgb(41, 41, 40);
    height: 200px;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.div-logo{
    float: left;
	padding: 15px 0 0 20px;
    margin-top: 15px;
	text-decoration: none;
}

header .nav-menu{
    display: inline-block;
    color: aliceblue;
    padding: 15px 0 0 20px;
    margin-top: 50px;
    margin-left: 80px;
    font-size: 20px;
}

header .nav-menu .menu li{
    display: inline;
    padding: 30px;
}

header .nav-menu .menu li:hover{
    color: greenyellow;
}

footer{
    background-color: rgb(41, 41, 40);
    height: 200px;
    padding: 0;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.div-logo2{
    float: left;
	
    margin-top: 15px;
	text-decoration: none;
}

.logo2{
    width: 200px;
    height: auto;
    float: left;
    margin-top: 30px
}

.sublogo{
   display: inline-block;
   position: relative;
   margin-top: 60px;
   margin-left: 100px;
   color: white;
   font-size: 1.5rem;
   
   
}

.contacto{
    display: inline-block;
    float: right;
    color: aliceblue;
    margin-top: 30px;
    font-size: 1.5rem;
}

.contacto .info-contacto li{
    text-decoration: none;
}
